{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
      {{ content }}
        <div class="gallery">
            {% for image in meta.Image %}
              <a href="{{ base_url }}/image/{{ image.title }}.jpg" target="_blank"  class="gallery-img">
                  <picture>
                      <source media="(min-width: 668px)" srcset="{{ base_url }}/image/{{ image.title }}.jpg">
                      <img src="{{ base_url }}/image/{{ image.title }}.jpg&w=667" alt="{{ image.alt }}">
                  </picture>
              </a>
            {% endfor %}
        </div>

        <h3>En rolig sketch av Freudian Slip Productions</h3>
        <div class="embed-container">
          <iframe src="https://www.youtube.com/embed/0wvP5xw3JnE?si=CbYb2ngsml6CAZDw" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}

</body>

</html>

