{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landing-page">
            {{ content }}

            {% for tech in meta.Techs %}
                <div class="box {{ tech.class }}">
                    <h2>{{ tech.name }}</h2>
                    <i class="fa-brands fa-{{ tech.icon }}" aria-hidden="true"></i>
                    <span class="sr-only">{{ social.title }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}

</body>

</html>
